:root {
  /* backgroudcolor */
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #202020;

  /* ------- header desk ------- */
  --desk-bg-color-header: transparant;
  --header-link-color: #0338e1;

  /* header mobile*/
  --mobile-bg-color-header: transparant;
  --mobile--link-color: #0338e1;
  --burger-color-primary: #0338e1;
  --burger-color-secondary: #051036;

  /* buttons*/
  --button--bg-color: #0338e1;
  --button-padding: 0.75rem 2.2rem;
  --button-gap: 0.6rem;
  --button-height: 3.2rem;
  --button-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

  --button-radius: 0.3rem;
  --button-transform-animation: scale(0.9);

  --button-color: #fdfdfd;

  /* ------- headings ------ */

  /* fonte */
  --h1--: "Archivo", sans-serif;
  --h2--: "Archivo", sans-serif;
  --h3--: "Archivo", sans-serif;
  --h4--: "Archivo", sans-serif;
  --h5--: "Archivo", sans-serif;
  --p--: "Archivo", sans-serif;
  --a--: "Archivo", sans-serif;
  --li--: "Archivo", sans-serif;

  /* hover */
  --a--hover-primary: italic;
  --a--hover-secondary: underline;
  --button-hover-primary: italic;
  --button-hover-secondary: underline;

  /* font-sizes */
  --h1--forside-size--: clamp(3rem, 2.2rem + 4vw, 7rem);

  --h1-size--: clamp(
    1.9rem,
    1.5299999999999998rem + 1.8500000000000003vw,
    3.75rem
  );
  --h2-size--: clamp(1.6rem, 1.3800000000000001rem + 1.1vw, 2.7rem);
  --h3--size-: clamp(1.4rem, 1.23rem + 0.8500000000000001vw, 2.25rem);
  --h4-size--: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
  --h5-size--: clamp(1.125rem, 1.09rem + 0.17500000000000004vw, 1.3rem);
  --p-size--: clamp(0.8rem, 0.74rem + 0.30000000000000004vw, 1.1rem);
  --a-size--: "Prompt", sans-serif;
  --banner--font-size--: clamp(
    0.6rem,
    0.5599999999999999rem + 0.2000000000000001vw,
    0.8rem
  );

  --p--lineheight: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);

  


  /* font-colors */
  --h1--color-primary: #051036;
  --h1--color-secondary: #202020;

  --h2--color-primary: #202020;
  --h2--color-secondary: #fdfdfd;
  --h2--color-third: #0338e1;

  --h3--color-primary: #202020;
  --h3--color-secondary: #fdfdfd;
  --h3--color-third: #0338e1;

  --h4--color-primary: #202020;
  --h4--color-secondary: #fdfdfd;
  --h4--color-third: #0338e1;

  --h5--color-primary: #202020;
  --h5--color-secondary: #fdfdfd;
  --h5--color-third: #0338e1;

  --p--color-primary: #202020;
  --p--color-secondary: #fdfdfd;
  --p--color-third: #0338e1;

  --a--color-primary: #0338e1;
  --a--color-secondary: #fdfdfd;
  --a--color-third: #202020;

  /* margin headings */
  --h1--margin-bottom: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
  --heading--margin-bottom: clamp(1.2rem, 0.94rem + 1.3vw, 2.5rem);
  --p--margin-bottom: clamp(0.8rem, 0.52rem + 1.4000000000000001vw, 2.2rem);
  --p--margin-top: clamp(0.8rem, 0.52rem + 1.4000000000000001vw, 2.2rem);

  /*---- GENERELLE REGLER mobil --------*/
  --margin-inline-mobil: 2rem;
  --margin-bottom-mobil: 2rem;

  /*---- GENERELLE REGLER ipad --------*/
  --margin-inline-ipad: 3rem;
  --margin-bottom-ipad: 4rem;

  /*---- GENERELLE REGLER desk 1024 --------*/
  --margin-inline-desk--lille: 10rem;
  --margin-bottom-desk--lille: 8rem;

  /*---- GENERELLE REGLER desk --------*/
  --margin-inline-desk: 14rem;
  --margin-bottom-desk: 8rem;
}

/*-------------------------------------------------- GENERELLE REGLER -----------------------------------------------*/
/* --------- FONTS ------------ */
@font-face {
  font-family: Prompt;
  src: url(/font/prompt-regular-webfont.woff2) format("woff2");
  font-weight: 100 900;
}

@font-face {
  font-family: Archivo;
  src: url(/font/Archivo-VariableFont_wdth\,wght_2.ttf);
  font-weight: 100 900;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#forside,
#levering_returning,
#kontakt,
#handelsbetingelser,
#godtatvide,
#cookie,
#bagom, #singleview {
  margin-inline: var(--margin-inline-mobil);
  margin-bottom: var(--margin-bottom-mobil);
}

h1 {
  font-size: var(--h1-size--);
  font-family: var(--h1--);
  color: var(--h1--color-primary);
  margin-bottom: var(--h1--margin-bottom);
  font-variation-settings: 'wght' 700, 'wdth' 90;
  
}

.forside_hero_h1 {
  font-variation-settings: 'wght' 900, 'wdth' 90;
  font-size: var(--h1--forside-size--);
  
}

h2 {
  font-size: var(--h2-size--);
  font-family: var(--h2--);
  color: var(--h2--color-primary);
  margin-bottom: var(--heading--margin-bottom);
  font-variation-settings: 'wght' 600, 'wdth' 90, 'opsz' 64;
  line-height: var(--p--lineheight);
}

h3 {
  font-size: var(--h3--size-);
  font-family: var(--h3--);
  color: var(--h3--color-primary);
  margin-bottom: var(--heading--margin-bottom);
  font-variation-settings: 'wght' 700, 'wdth' 90, 'opsz' 64;
  line-height: var(--p--lineheight);
}

h4 {
  font-size: var(--h4-size--);
  font-family: var(--h4--);
  color: var(--h4--color-primary);
  margin-bottom: var(--heading--margin-bottom);
  font-variation-settings: 'wght' 800, 'wdth' 90, 'opsz' 64;
  line-height: var(--p--lineheight);
}

h5 {
  font-size: var(--h5-size--);
  font-family: var(--h5--);
  color: var(--h5--color-primary);
  margin-bottom: var(--heading--margin-bottom);
  font-variation-settings: 'wght' 400, 'wdth' 90, 'opsz' 64;
  line-height: var(--p--lineheight);
}

p {
  font-size: var(--p-size--);
  font-family: var(--p--);
  color: var(--p--color-primary);
  margin-bottom: var(--p--margin-bottom);
  line-height: var(--p--lineheight);
  font-variation-settings: 'wght' 400, 'wdth' 100;
  /* max-width: 100ch; */

}

a {
  color: var(--header-link-color);
  font-family: var(--a--);
  color: var(--a--color-primary);
  cursor: pointer;
  border: none;
  outline: none;

  text-decoration: none;
}

a:hover {
  font-style: var(--a--hover-primary);
  text-decoration: var(--a--hover-secondary);
  
}

li {
  list-style: none;
  font-family: var(--li--);
}

/* --------- BUTTONS ------------ */
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--button-padding);
  gap: var(--button-gap);
  color: var(--button-color);
  position: relative;
  width: auto;
  height: var(--button-height);
  background-color: var(--button--bg-color);
  box-shadow: var(--button-shadow);
  border-radius: var(--button-radius);
  border-style: none;
  font-variation-settings: 'wght' 700, 'wdth' 100, 'opsz' 33;
}

button:hover {
  transform: var(--button-transform-animation);
  cursor: pointer;
  text-decoration: var(--button-hover-secondary);
  font-style: var(--button-hover-primary);
}

/* ----------------------------------------------- MENU ------------------------------------------ */
/* ------------------------ MENU - banner hvid----------------------- */
.trustpilot_1 {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.trustpilot {
  text-align: center;
}

.banner_hvid_p,
.banner_p {
  font-size: var(--banner--font-size--);
}

/* ------------------------ MENU - banner sort----------------------- */
.banner_1 {
  display: flex;
  width: 100rem;
  align-content: center;
  color: var(--p--color-secondary);
  justify-content: space-between;
  margin-right: 5rem;
}

.banner {
  position: absolute;
  display: flex;
  background-color: var(--secondary-bg-color);

  animation-name: banner_infinite;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.banner_2 {
  display: flex;
  width: 100rem;
  align-content: center;
  color: var(--p--color-secondary);
  justify-content: space-between;
}

.banner_p {
  color: var(--p--color-secondary);
  margin-bottom: 0;
}

@keyframes banner_infinite {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

/* --- !! vil gerne have * op i general men margin: 0; fucker med lidt ting  !! ---*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  /* height: 6rem; */
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#menu {
  margin-left: 3rem;
}

.logo {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  max-width: 91rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 2rem;
}

.brand {
  border: none;
  outline: none;
  margin: 1.5rem;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  width: 5rem;
}

.navbar {
  max-width: 100%;
  /* height: 65rem; */
  margin: 0 auto;
  padding: 2rem 0;
  border: none;
  outline: none;

  background: white;
  box-shadow: var(--shadow-large);
}
.navbar .wrapper_burger {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.navbar .burger {
  position: relative;
  display: none;
  cursor: pointer;
  width: 2rem;
  height: 1rem;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: none;
  transform: rotate(0deg);
  transition: 1.5s ease-in-out;
  box-shadow: none;
}
.navbar .burger-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 0.25rem;
  background: black;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  background-color: var(--burger-color-primary);
}
.navbar .burger-line:nth-child(1) {
  top: 0;
}
.navbar .burger-line:nth-child(2),
.navbar .burger-line:nth-child(3) {
  top: 0.5rem;
}
.navbar .burger-line:nth-child(4) {
  top: 1rem;
}
.navbar .burger.is-active .burger-line:nth-child(1),
.navbar .burger.is-active .burger-line:nth-child(4) {
  top: 1.25rem;
  width: 0%;
  left: 50%;
}
.navbar .burger.is-active .burger-line:nth-child(2) {
  transform: rotate(45deg);
}
.navbar .burger.is-active .burger-line:nth-child(3) {
  transform: rotate(-45deg);
}
.navbar .menu-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.navbar .menu-link {
  line-height: inherit;
  border: none;

  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  transition: all 0.35s ease-in-out;
}

.menu-item {
  font-variation-settings: 'wght' 700, 'wdth' 90;
}

/*------------------------------------------- Forside-siden -----------------------------------------------------*/

/*------------------- Hero ----------------------*/
#forside_article {
  margin-bottom: 2em;
  background-image: url(/img/kortet.png);
  z-index: -100;
}

.forside_herounit_img_tekst_section {
  display: grid;
}


.forside_satellit_div, #forside_hero_wrap {
grid-area: 1/1;
}



.forside_satellit_img {
  width: 8rem;
  display: block;
}


.forside_hero_img_flex {
  display: none;
}

.forside_hero_wrap_tekst {
  margin-left: 9rem;
  margin-top: 4rem;
}

#wrap_bubble {
  background-size: cover;
  position: relative;
} 

/* #wrap_bubble {
  background-image: url(/img/bubble.svg);
} */


.forside_hero_content_h2 {
display: flex;
justify-content: center;
max-width: 80vw;
font-variation-settings: 'wght' 700, 'wdth' 90;
}

.forside_h2_start {
text-align: right;
padding-right: 0.2em;
margin-bottom: 2rem;
font-variation-settings: 'wght' 700, 'wdth' 90;
}

.forside_hero_animation {
flex: 1;
font-variation-settings: 'wght' 700, 'wdth' 90;
}

#forside_hero_text {
color: var(--h2--color-third);
animation-delay: 0s;
animation-duration: 2s;
animation-name: text-a;
animation-iteration-count: infinite;
/* -webkit-animation: flip-horizontal-bottom 2.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
        animation: flip-horizontal-bottom 2.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both; */

}

@keyframes text-a {
0% {
  color: var(--h2--color-third);
}
100% {
  color: var(--h2--color-third);
}
}

/*------------------- Univers sektion ----------------------*/

.forside_univers_p_blaa {
  color: var(--p--color-third);
}

.forside_div_wrapper {
  display: grid;
}

.forside_univers_div {
  grid-area: 1/1;
  
}

.forside_univers_p {
  font-variation-settings: 'wght' 600, 'wdth' 90, 'opsz' 64;
}

/*------------------------------------------- Singleview --------------------------------------------------------*/

.produktbillede1 img {
  max-width: 20rem;
}
/*------------------------------------------- GODT AT VIDE-siden -------------------------------------------*/
/*------------------------------------------- Handelsbetingelser-siden -------------------------------------*/
/*------------------------------------------- Cookie-siden -------------------------------------------------*/
/*------------------------------------------- Bagom-siden --------------------------------------------------*/

/* ----------------- ACCORDION ------------------- */

.wrapper {
  /* max-width: 1000px; */
  width: 100%;
  margin: 5vh auto;
}

.input1 {
  display: none;
}

.first_p_accordion {
  margin-top: var(--p--margin-top);
}

label {
  display: flex;
  width: 100%;
  height: 80px;
  cursor: pointer;
  /* border: 4px solid #0338e1; */
  user-select: none;
}

label div:first-child {
  width: 100%;
  line-height: 2.3rem;
  /* margin-left: 10px; */
  font-size: 1.2em;
}

.cross {
  margin-right: 15px;
  margin-top: 3px;
}

.cross:before,
.cross:after {
  content: "";
  border-top: 4px solid #0338e1;
  width: 15px;
  display: block;
  margin-top: 18px;
  transition: 0.3s;
}

.cross:after {
  transform: rotate(90deg);
  margin-top: -4px;
}

.content {
  box-sizing: border-box;
  font-size: 0.9em;
  margin: 10px 10px;
  max-height: 0;
  max-width: 48rem;
  overflow: hidden;
  transition: max-height, 0.5s;
}

input:checked ~ .content {
  max-height: 600px;
  transition: max-height, 1s;
}

input:checked ~ label .cross:before {
  transform: rotate(180deg);
}

input:checked ~ label .cross:after {
  transform: rotate(0deg);
}

.questions {
  margin-top: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height, 0.5s;
}

.questions label {
  border: none;
  box-shadow: none;
  margin: 0;
}

input:checked ~ .questions {
  max-height: 400px;
  border-bottom: 2px solid #3e474f;
  transition: 1s;
}

/*----------tool-tip------------*/

.tip {
  color: #f03768;
  cursor: help;
  position: relative;
  overflow: visible;
  font-family: monospace;
  font-size: 1.3em;
}

.tip:before,
.tip:after {
  position: absolute;
  opacity: 0;
  z-index: -100;
  transform: translateY(-30%);
  transition: 0.4s;
}

.tip:before {
  content: "";
  border-style: solid;
  border-width: 0.8em 0.5em 0 0.5em;
  border-color: #3e474f transparent transparent transparent;
  transform: translateY(-200%);
  bottom: 90%;
  left: 50%;
}

.tip:after {
  content: attr(data-tip);
  background: #3e474f;
  color: white;
  width: 150px;
  padding: 10px;
  font-size: 0.8em;
  bottom: 150%;
  left: -50%;
}

.tip:hover:before,
.tip:hover:after {
  opacity: 1;
  z-index: 100;
  transform: scaleY(1);
}

/*--------------------------------------------- Levering og returnering-siden -------------------------------------*/
.levering_returnering_guide_ikoner_tekst {
  display: flex;
  gap: 1rem;
  margin-block: 4rem;
}

/*--------------------------------------------- Konakt-siden ------------------------------------------------------*/
.adresse {
  margin-bottom: 0;
}

.kort {
  margin-top: 1rem;
  box-shadow: var(--button-shadow);
  width: -moz-available;
}

.kort:hover {
  transform: var(--button-transform-animation);
}

.nedenfor {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-style: italic;
}

.bund2 {
  margin-top: 2rem;
}

.dm {
  line-height: var(--p--lineheight);
}

/*------------------------ Konakt-formular ------------------------*/
:focus {
  outline: none;
}

.col-3 {
  float: left;
  width: 90%;
  margin-block: 1rem 3%;
  position: relative;
}

input[type="text"] {
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  padding: 0.4rem;
}

.effect-23 ~ .focus-bg:before,
.effect-23 ~ .focus-bg:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background-color: #ededed;
  transition: 0.3s;
  z-index: -1;
}
.effect-23:focus ~ .focus-bg:before,
.has-content.effect-23 ~ .focus-bg:before {
  transition: 0.3s;
  width: 50%;
  height: 100%;
}
.effect-23 ~ .focus-bg:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.effect-23:focus ~ .focus-bg:after,
.has-content.effect-23 ~ .focus-bg:after {
  transition: 0.3s;
  width: 50%;
  height: 100%;
}
.effect-23 ~ .label {
  position: absolute;
  left: 14px;
  width: 100%;
  top: 10px;
  color: transparent;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.effect-23:focus ~ .label,
.has-content.effect-23 ~ .label {
  top: -18px;
  left: 0;
  font-size: 12px;
  color: #333;
  transition: 0.3s;
}

.effect-23 ~ .focus-bg:before,
.effect-23 ~ .focus-bg:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  background-color: transparent;
  transition: 0.3s;
  z-index: -1;
}

li {
  /* padding: 5px 0; */
  margin: 0;
  overflow: hidden;
}

strong {
  width: 120px;
  float: left;
}

p.knap {
  margin: 0 0 0 230px;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  float: left;
  cursor: pointer;
}

#nr4 {
  padding-bottom: 4rem;
}

/*------------------------ Konakt-map ------------------------*/
/*-------------------------------------------- FOOTER ------------------------------------------------------------*/
/**** FOOTER ****/
/*footer allaround*/
#footer_allaround {
  padding-block: 3rem;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

/*footer section*/
.footer_information_links_betaling_levering_section {
  margin-inline: 1rem;
}

/*footer information links div flex*/
.footer_information_links_div {
  display: flex;
  gap: 1rem;
}

/*footer styling af p tags*/
.footer_links_menupunkter {
  font-size: var(--p-size--);
  font-family: var(--p--);
  color: var(--p--color-primary);
  margin-bottom: var(--p--margin-bottom);
  line-height: var(--p--lineheight);
}

/*footer flex på betaling og levering billeder*/
.footer_betalingsmuligheder_ikoner {
  margin-bottom: 1.5rem;
}

.footer_leveringsmuligheder_ikoner {
  margin-bottom: 3rem;
}

.footer_betalingsmuligheder_ikoner,
.footer_leveringsmuligheder_ikoner {
  display: flex;
}

/* footer instagram copyright tiltoppen */
.footer_instagram_copyright_tiltoppen_section {
  text-align: center;
}

.footer_instagram_img {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

@media (min-width: 640px) {
  /* ----------------------------------------------- MENU ------------------------------------------ */
  /* ------------------------ MENU - banner hvid----------------------- */
  /* .trustpilot_1 {
  display: block;
  justify-content:space-between;
} */

  .trustpilot {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-block: 0.5rem;
  }

  .banner_hvid_p {
    margin-bottom: 0;
  }

  /*-------------------------------------------- Levering og returnering-siden -------------------------------------*/
  .levering_returnering_guide_ikoner_tekst {
    justify-content: space-evenly;
  }

  /*-------------------------------------------- Kontakt-siden -----------------------------------------------------*/
  .kort {
    width: 35rem;
  }

  /*-------------------------------------------- Cookie-siden ------------------------------------------------------*/

  /*-------------------------------------------- Bagom-siden -------------------------------------------------------*/
  /*-------------------------------------------- Forside-siden -----------------------------------------------------*/
  /*------------------- Hero ----------------------*/
  .forside_satellit_img {
    width: 15rem;
  }

  .forside_hero_img_flex {
    display: flex;
    gap: 0.5rem;
    margin-top: 3rem;
  }

  .forside_hero_img {
    width: 10rem;
    height: 15rem;
    box-shadow: var(--button-shadow);
  }

  #forside_hero_wrap {
    display: flex;
    justify-content: space-evenly;
  }

  .forside_hero_wrap_tekst {
    margin-left: 0rem;
    margin-top: 3rem;
  }

   /*-------------- Univers sektion ---------------*/
   .forside_univers_tekst {
     max-width: 60ch;
   }

   #forside_satellit_img04, #forside_satellit_img03 {
     display: none;
   }

   .forside_univers_div {
     margin: 0rem auto 0rem auto;
     margin-inline: 0rem;
   }





  /*-------------------------------------------- Singleview --------------------------------------------------------*/
  /*-------------------------------------------- Godt at vide-siden ------------------------------------------------*/

  .godtatvide_speciel_h3 {
    line-height: 2rem !important;
  }
  label div:first-child {
    line-height: 1.5rem;
  }

  label {
    height: 50px;
  }

  .first_p_accordion {
    margin-top: 0;
  }

  .wrapper {
    margin: 6vh auto;
  }

  /*-------------------------------------------- Handelsbetingelser-siden ------------------------------------------*/
  /*-------------------------------------------- FOOTER ------------------------------------------------------------*/
  /* footer to øverste bokse med kontakt og links */
  .footer_information_links_div {
    justify-content: space-evenly;
  }

  /* FIX DEN */
  /* .footer_betaling_levering_div {
      display: flex;
    } */
}

@media (min-width: 768px) {
  .navbar .wrapper_burger {
    justify-content: flex-start;
  }

  #forside,
  #levering_returning,
  #kontakt,
  #handelsbetingelser,
  #godtatvide,
  #cookie,
  #bagom, #singleview {
    margin-inline: var(--margin-inline-ipad);
    margin-bottom: var(--margin-bottom-ipad);
  }

  /*-------------------------------------------- Levering og returnering-siden -------------------------------------*/
  /*-------------------------------------------- Kontakt-siden -----------------------------------------------------*/
  /*------------------------ Konakt-formular ------------------------*/
  .bund {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .col-3 {
    width: 96%;
  }

  .bund2 {
    margin-top: 0;
  }
  /*-------------------------------------------- Cookie-siden ------------------------------------------------------*/
  /*-------------------------------------------- Bagom-siden -------------------------------------------------------*/
  /*-------------------------------------------- Forside-siden -----------------------------------------------------*/
  /*------------------- Hero ----------------------*/
  .forside_satellit_img {
    width: 20rem;
  }

  .forside_hero_img {
    width: 11rem;
  }
  /*-------------------------------------------- Singleview --------------------------------------------------------*/
  /*-------------------------------------------- Godt at vide-siden ------------------------------------------------*/
  .wrapper {
    margin: 6vh auto;
  }

  /*-------------------------------------------- Handelsbetingelser-siden ------------------------------------------*/
  /*-------------------------------------------- FOOTER ------------------------------------------------------------*/
  /*footer allaround*/
  #footer_allaround {
    padding-top: 2rem;
    padding-bottom: 0rem;
  }

  .footer_information_links_betaling_levering_section {
    display: flex;
    justify-content: space-around;
  }

  .footer_instagram_copyright_tiltoppen_section {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
  }
}

/*------------------ KUN BURGER MEDIA ----------------------*/
@media only screen and (max-width: 768px) {
  .navbar .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .navbar .menu {
    width: 100%;
    max-height: 0rem;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.35s ease;
  }
  .navbar .menu.is-active {
    opacity: 1;
    visibility: visible;
  }
  .navbar .menu-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0.75rem;
    padding-block: 14rem;
  }
}

@media (min-width: 1024px) {
  #forside,
  #levering_returning,
  #kontakt,
  #handelsbetingelser,
  #godtatvide,
  #cookie,
  #bagom, #singleview {
    margin-inline: var(--margin-inline-desk--lille);
    margin-bottom: var(--margin-bottom-desk--lille);
  }
  /*-------------------------------------------- Levering og returnering-siden -------------------------------------*/
  /*-------------------------------------------- Kontakt-siden -----------------------------------------------------*/
  /*-------------------------------------------- Cookie-siden ------------------------------------------------------*/
  /*-------------------------------------------- Bagom-siden -------------------------------------------------------*/
  /*-------------------------------------------- Forside-siden -----------------------------------------------------*/
  /*------------------- Hero ----------------------*/
  .forside_satellit_img {
    width: 27rem;
  }

  .forside_hero_img {
    width: 16rem;
    height: 22rem;
  }

  .forside_hero_img_flex {
    gap: 1rem;
  }
  /*-------------------------------------------- Singleview --------------------------------------------------------*/
  /*-------------------------------------------- Godt at vide-siden ------------------------------------------------*/

  label div:first-child {
    line-height: 1.5rem;
  }

  label {
    height: 70px;
  }

  .wrapper {
    margin: 7vh auto;
  }

  /*-------------------------------------------- Handelsbetingelser-siden ------------------------------------------*/
  /*-------------------------------------------- FOOTER ------------------------------------------------------------*/
  .footer_information_links_div {
    gap: 4rem;
  }

  .footer_copyright {
    margin-right: 8rem;
  }
}

@media (min-width: 1280px) {
  #forside,
  #levering_returning,
  #kontakt,
  #handelsbetingelser,
  #godtatvide,
  #cookie,
  #bagom, #singleview {
    margin-inline: var(--margin-inline-desk);
    margin-bottom: var(--margin-bottom-desk);
  }
  /*-------------------------------------------- Levering og returnering-siden -------------------------------------*/
  /*-------------------------------------------- Kontakt-siden -----------------------------------------------------*/
  .kort {
    width: 30rem;
  }
  /*-------------------------------------------- Cookie-siden ------------------------------------------------------*/
  /*-------------------------------------------- Bagom-siden -------------------------------------------------------*/
  /*-------------------------------------------- Forside-siden -----------------------------------------------------*/
  /*------------------- Hero ----------------------*/
  .forside_satellit_img {
    width: 37rem;
  }

  .forside_hero_img {
    width: 20rem;
    height: 28rem;
  }
  /*-------------------------------------------- Singleview --------------------------------------------------------*/
  /*-------------------------------------------- Godt at vide-siden ------------------------------------------------*/

  .wrapper {
    margin: 9vh auto;
  }

  /*-------------------------------------------- Handelsbetingelser-siden ------------------------------------------*/
  /*-------------------------------------------- FOOTER ------------------------------------------------------------*/
  .footer_instagram_copyright_tiltoppen_section {
    padding-inline: 5rem;
  }

  .footer_information_links_div {
    gap: 20rem;
  }
}

@media (min-width: 1538px) {
  /*-------------------------------------------- Levering og returnering-siden -------------------------------------*/
  /*-------------------------------------------- Kontakt-siden -----------------------------------------------------*/
  /*-------------------------------------------- Cookie-siden ------------------------------------------------------*/
  /*-------------------------------------------- Bagom-siden -------------------------------------------------------*/
  /*-------------------------------------------- Forside-siden -----------------------------------------------------*/
  /*-------------------------------------------- Singleview --------------------------------------------------------*/
  /*-------------------------------------------- Godt at vide-siden ------------------------------------------------*/

  label {
    height: 90px;
  }

  /*-------------------------------------------- Handelsbetingelser-siden ------------------------------------------*/
  /*-------------------------------------------- FOOTER ------------------------------------------------------------*/
}
